In [1]:
import numpy as np
import pandas as pd

In [3]:
food=pd.DataFrame([['tofu',90,'portland','american','sweet'],
                   ['pizza',150,'sinjuku','japanese','sour'],
                   ['sandwich',40,'meyongdong','korea','salty'],
                   ['bread',80,'pattaya','Thai','sweet'],
                   ['tokoyaki',100,'Mumbai','japanese','savory'],
                   ['bottle ice cream',40,'Delhi','Thai','creamy'],
                   ['dhokla',70,'pune','Indian','spicy'],
                   ['salad',200,'Kolkata','japanese','spicy'],
                   ['mac&chezz',50,'pune','Spanish','spicy'],
                   ['malai kofta',70,'Hyderbad','Spanish','spicy'],
                   ['dal bati',230,'jaisalmer','rajasthani','spicy'],
                   ['red sauce pasta',20,'Naples','Italian','salty']
                  ]
                  ,columns=['Name','Price','Place','Cuisine','Taste'])
food

                Name  Price       Place     Cuisine   Taste
0               tofu     90    portland    american   sweet
1              pizza    150     sinjuku    japanese    sour
2           sandwich     40  meyongdong       korea   salty
3              bread     80     pattaya        Thai   sweet
4           tokoyaki    100      Mumbai    japanese  savory
5   bottle ice cream     40       Delhi        Thai  creamy
6             dhokla     70        pune      Indian   spicy
7              salad    200     Kolkata    japanese   spicy
8          mac&chezz     50        pune     Spanish   spicy
9        malai kofta     70    Hyderbad     Spanish   spicy
10          dal bati    230   jaisalmer  rajasthani   spicy
11   red sauce pasta     20      Naples     Italian   salty

In [4]:
for x in food.index:
    if food.loc[x,'Price']==food['Price'].max():
         print('Costliest Dish Name = ',food.loc[x,'Name'],'\nDish Price =',food.loc[x,'Price'])

Costliest Dish Name =  dal bati
Dish Price = 230

In [5]:
food['Rating']=pd.Series([4.4,5,1.3,5,3,3.5,2.4,2.2,5,4.4,1.4,5],index=range(0,12))
food

                Name  Price       Place     Cuisine   Taste  Rating
0               tofu     90    portland    american   sweet     4.4
1              pizza    150     sinjuku    japanese    sour     5.0
2           sandwich     40  meyongdong       korea   salty     1.3
3              bread     80     pattaya        Thai   sweet     5.0
4           tokoyaki    100      Mumbai    japanese  savory     3.0
5   bottle ice cream     40       Delhi        Thai  creamy     3.5
6             dhokla     70        pune      Indian   spicy     2.4
7              salad    200     Kolkata    japanese   spicy     2.2
8          mac&chezz     50        pune     Spanish   spicy     5.0
9        malai kofta     70    Hyderbad     Spanish   spicy     4.4
10          dal bati    230   jaisalmer  rajasthani   spicy     1.4
11   red sauce pasta     20      Naples     Italian   salty     5.0

In [9]:
for x in food.index:
    if food.loc[x,'Price']==food["Price"].min():
         print('Cheapest Dish = ',food.loc[x,'Name'],'\nDish Price = ',food.loc[x,'Price'])

Cheapest Dish =  red sauce pasta
Dish Price =  20

In [10]:

for x in food.index:
    if food.loc[x,'Rating']==food["Rating"].max():
          print('Most Popular Cuisine = ',food.loc[x,'Cuisine'],'\nDish Rating = ',food.loc[x,'Rating'])

Most Popular Cuisine =  japanese
Dish Rating =  5.0
Most Popular Cuisine =  Thai
Dish Rating =  5.0
Most Popular Cuisine =  Spanish
Dish Rating =  5.0
Most Popular Cuisine =  Italian
Dish Rating =  5.0

In [11]:
food['Name'][(food['Place']=='pattaya')&(food['Taste']=='sweet')]

3    bread
Name: Name, dtype: object

In [12]:
food['Taste'].value_counts()

spicy     5
salty     2
sweet     2
savory    1
sour      1
creamy    1
Name: Taste, dtype: int64